@import "./variables";

#header {
  @include flexAlignCenter();
  justify-content: center;
  flex-direction: $flexDirection;
  height: 400px;
  width: 100%;
  background-color: $headerBackgroundColor;
  background-image: url(http://www.transparenttextures.com/patterns/black-linen.png);
  font-family: $fontFamily;
  color: antiquewhite;
}

@media screen and (min-width: 1024px) {
  #header{
    width : 30%;
    height: 30%;
    align-items: center;
    margin: 40px;
  }
  .photo {
    padding-top: 20px;
  }
}