@import "./variables";

#nav-bar{
  @include flexAlignCenter();
  position: fixed;
  top: 0;
  height: 150px;
  width: 100%;
  font-size: 20px;
  background-color: $headerBackgroundColor;
  background-image: url(http://www.transparenttextures.com/patterns/black-linen.png);
  font-family: source sans pro, sans-serif;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;  
  justify-content: $justifyContent;
  position: relative;
}

.compose-family {
  @include flexAlignCenter();  
  flex-direction: $flexDirection;
  padding-top: 1em;
  
}
.compose{
  margin: 0;
}

#compose-button{
  color: #d4260e;
}

@media all and (min-width: 1024px) {
  #nav-bar {
    width: 100%;
    background-color: $navBarColor;
    background-image: none;   
        
  }
}








