@import './variables';



.tweets{
  display: flex;
  padding-top: 1px;
  margin: 10px;
  background-color: $backgroundColor;
  border: 0.5px solid $textColor;
  flex-direction: column;
  width: 100%;
  &:hover {
    box-shadow: 10px 10px 0px rgb(0 0 0 /0.2);
  }
}

//text area 
.tweet-container{
  border-bottom: 5px solid $textColor;
  margin: 0 15px;
  padding: 10px;
  word-wrap: break-word;
}

//Displays tweets container 
#tweets-container {
  @include flexAlignCenter();
  position: relative;
  flex-direction: column;
  width: 90%;
  background-color: $backgroundColor;
  margin: 0 auto;
}

.tweets header {
  display: flex;
  justify-content: $justifyContent;
  margin: 10px;
}

.profile-photo {
  width: 30px;
}


.tweets footer {
  display: flex;
  align-items: flex-end;
  justify-content: $justifyContent;
  margin: 10px;
  padding: 0;
}

#flag:hover{
  color: $hoverColor;
}
#heart:hover{
  color: $hoverColor;
}
#retweet:hover{
  color: $hoverColor;
}



#btnScrollToTop{
  position: fixed;
  align-self: flex-end;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px;
  border-color: $scrollTopColor;
  background: $scrollTopColor;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  cursor: pointer;
  &:hover{
    background-color: #070707;
  }
  
}


