#nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 150px;
  width: 100%;
  font-size: 20px;
  background-color: #69597a;
  background-image: url(http://www.transparenttextures.com/patterns/black-linen.png);
  font-family: source sans pro, sans-serif;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  position: relative;
}

.compose-family {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1em;
}

.compose {
  margin: 0;
}

#compose-button {
  color: #d4260e;
}

@media all and (min-width: 1024px) {
  #nav-bar {
    width: 100%;
    background-color: #1b2349;
    background-image: none;
  }
}
