#nav-bar{
  display: flex;
  position: fixed;
  top: 0;
  height: 150px;
  width: 100%;
  background-color: #4056A1;
  font-family: source sans pro, sans-serif;
  font-size:  30px;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.compose-family {
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding-top: 1em;
  
}
.compose{
  margin: 0;
}








