#nav-bar{
  display: flex;
  position: fixed;
  top: 0;
  height: 150px;
  width: 100%;
  font-size: 20px;
  background-color: #6ea384;
  background-image: url(http://www.transparenttextures.com/patterns/black-linen.png);
  font-family: source sans pro, sans-serif;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.compose-family {
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding-top: 1em;
  
}
.compose{
  margin: 0;
}

#compose-button{
  color: #d4260e;
}

@media all and (min-width: 1024px) {
  #nav-bar {
    width: 100%;
    background-color: #4056A1;
    background-image: none;   
        
  }
}








