.container{
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: space-between;
  font-family: source sans pro, sans-serif;
  background-color: #adc7d8;
  
}

.new-tweet{
  display: flex;
  padding-top: 1px;
  background-color: #adc7d8;
  margin: 0 2em;
  flex-flow: wrap column;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
.new-tweet h2 {
  margin: 10px;
  
  font-size: smaller;
}

label{
  padding: 10px;
  position: relative;
  font-size: smaller;
}
  
textarea {
  width: 100%;
  border: none;
  border-bottom: 5px solid black;
  position: relative;
  background-color: #adc7d8;
}
button {
  background-color:#4056A1;
  color: #eeeeee;
}
.submitbutton {
  display: flex;
  justify-content: space-between;
  font-family: bungee, sans-serif;
}

#scroll-up {
  color: #4056A1;
  position: fixed;
  align-self: flex-end;
  max-width: 100%;
  
}

#scroll-up:hover {
  background-color: #000000;
}