.container{
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: space-between;
  font-family: source sans pro, sans-serif;
  background-color: #bbaa9f;
  
}

.new-tweet{
  display: flex;
  padding-top: 1px;
  background-color: #bbaa9f;
  margin: 0 2em;
  flex-flow: wrap column;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
.new-tweet h2 {
  margin: 10px;
  
  font-size: smaller;
}

label{
  padding: 10px;
  position: relative;
  font-size: smaller;
}
  
textarea {
  width: 100%;
  border: none;
  border-bottom: 5px solid black;
  position: relative;
  background-color: #bbaa9f;
}
button {
  background-color:#4056A1;
  color: #eeeeee;
}
.submitbutton {
  display: flex;
  justify-content: space-between;
  font-family: bungee, sans-serif;
}
article.p {
  color: maroon;
}
