.tweets {
  display: flex;
  padding-top: 1px;
  margin: 10px;
  background-color: #becbd3;
  border: 0.5px solid #050505;
  flex-direction: column;
  width: 100%;
}
.tweets:hover {
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.tweet-container {
  border-bottom: 5px solid #050505;
  margin: 0 15px;
  padding: 10px;
}

#tweets-container {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 90%;
  background-color: #becbd3;
  margin: 0 auto;
}

.tweets header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.profile-photo {
  width: 30px;
}

.tweets footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px;
  padding: 0;
}

#flag:hover {
  color: #c55716;
}

#heart:hover {
  color: #c55716;
}

#retweet:hover {
  color: #c55716;
}

#btnScrollToTop {
  position: fixed;
  align-self: flex-end;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px;
  border-color: #e62739;
  background: #e62739;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  cursor: pointer;
}
#btnScrollToTop:hover {
  background-color: #070707;
}
